<div class="position-relative overflow-hidden text-center bg-light footer"
     style="background-image: linear-gradient(to right bottom, #00b42f8f, #ffeb0059), url({{ asset('build/images/hero/footer.jpg') }});"
>
</div>