<nav style="background-color: #ffffff70;">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">

                <img src="/build/images/zoologo.png" alt="" width="100" height="80"
                     class="d-inline-block align-text-top">
            </a>

        </header>
    </div>
</nav>