{% set route_name = app.request.attributes.get('_route') %}

<nav class="fixed-top" style="background-color: #ffffffde;">
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">

                <img src="/build/images/zoologo.png" alt="" width="100" height="80"
                     class="d-inline-block align-text-top">
                <span class="fs-4">Zoopark</span>
            </a>

            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a  href="{{ path('animal_index') }}"
                        class="btn btn-outline-success m-1 px-2 {% if route_name == 'animal_index' %} active {% endif %}">
                        Animals
                    </a>
                </li>
                <li>
                    <a href="{{ path('manager_index') }}"
                       class="btn btn-outline-success m-1 px-2 {% if route_name == 'manager_index' %} active {% endif %}">
                        Specialists
                    </a>
                </li>
                <li>
                    <a href="{{ path('species_index') }}"
                       class="btn btn-outline-success m-1 px-2 {% if route_name == 'species_index' %} active {% endif %}">
                        Species
                    </a>
                </li>
            </ul>

            <div class="col-md-3 text-end">
                <button type="button" class="btn btn-outline-success me-2">Login</button>
            </div>
        </header>
    </div>
</nav>
