{# <div class="alert alert-light" role="alert"> #}
{# <h3>Error:</h3> #}
{# <ul> #}
{# {% for error in errors %} #}
{# <p>{{ error }}</p> #}
{# <hr> #}
{# {% endfor %} #}
{# </ul> #}
{# </div> #}

    {% for label, messages in app.flashes %}
        {% if label == 'errors' %}
            <div class="alert alert-light" role="alert">
                <h3>Error: </h3>
                {% for message in messages %}
                    <div class="flash-{{ label }}">
                        <p>{{ message }}</p>
                        <hr>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}

